.loadingBar{
}

.addSectionButtonsContainer {
    padding-bottom: 20px; 
}

.WriteBlog {
    padding-top: 25px;
    padding-bottom: 25px; 
}

.WriteBlog__file_details {
    display: flex;
}

.WriteBlog__file_size {

}