.image-carousel__preview-image {
    padding: 10px 5px 10px 5px;
}

.image-carousel__preview-image-individual {
    height: 200px;
}

.image-carousel__preview-images-section {
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: scroll;
}

.image-carousel__preview-image-details {
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-carousel__preview-image-file-name {
    padding-bottom: 5px;
}